@import "tailwindcss";

:root {
  --base-black : #1D1D1D;
  --base-white : #fdfdfd;
  --base-gold : #E8C657;
  --base-silver : #C0C0C0;
  
}

@theme inline {
  --color-bsblack: var(--base-black);
  --color-bswhite: var(--base-white);
  --color-bsgold: var(--base-gold);
  --color-bssilver: var(--base-silver);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pop: var(--font-poppins);
  --font-pix: var(--font-pixelify-sans);
  --font-mont: var(--font-montserrat);
}
